<f:layout name="default" />
<f:section name="content">
	<f:if condition="{dances}">
		<f:then>
			<h3>Dances:</h3>
			<dl class="tx-ballroomdancing-list">
				<f:for each="{dances}" as="dance">
					<dt>
						<f:link.action action="show" arguments="{dance: dance}">{dance.name}</f:link.action> {dance.type.label}
					</dt>
					<dd>
						<f:format.nl2br>{dance.description}</f:format.nl2br><br/>
						<f:count subject="{dance.figures}" /> figures
					<dd>
				</f:for>
			</dl>
		</f:then>
		<f:else>
			<p class="tx-ballroomdancing-problem">
				<strong>Sorry! There are no dances listed on this server.</strong>
			</p>
		</f:else>
	</f:if>
</f:section>
