<f:layout name="default" />
<f:section name="content">
	<f:if condition="{recordings}">
		<f:then>
			<p>Songs and Dance Pieces:</p>
			<dl>
				<f:for each="{recordings}" as="recording">
					<dt>
						<f:link.action action="show" controller="Recording" arguments="{recording: recording}">{recording.title}</f:link.action>
					</dt>
					<dd>
						<f:format.nl2br>{recording.description}</f:format.nl2br>
						<f:for each="{recording.tracks}" as="track">
							<f:link.action action="show" controller="Audio" arguments="{audio: track.audio.uid}">{track.number}. {track.audio.title}</f:link.action>
						</f:for>
					<dd>
				</f:for>
			</dl>
		</f:then>
		<f:else>
			<p>
				<strong>Sorry! There are no recordings listed on this server.</strong>
			</p>
		</f:else>
	</f:if>
</f:section>
