<f:layout name="default" />
<f:section name="content">
	<div class="tx-ballroomdancing-item">
		<h3>{recording.title}</h3>
		<p><f:format.nl2br>{recording.description}</f:format.nl2br></p>
		<f:if condition="{recording.tracks}">
			<ul class="tx-ballroomdancing-related-list">
				<f:for each="{recording.tracks}" as="track">
					<li>
						<f:link.action action="show" controller="Audio" arguments="{audio: track.audio}">{track.audio.title}</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
</f:section>
