{namespace dance=Tx_BallroomDancing_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
	<div class="tx-ballroomdancing-item">
		<h3>{text.title}</h3>
		<p>{text.author}</p>
		<p><f:format.nl2br>{text.description}</f:format.nl2br></p>
		<f:if condition="{text.entries}">
			<ul class="tx-ballroomdancing-related-list">
				<f:for each="{text.entriesGroupedByDance}" as="danceText">
					<li><f:link.action action="show" controller="Dance" arguments="{dance: danceText.dance}">{danceText.dance.name}</f:link.action>:<br />
						<dance:join each="{danceText.entries}" as="entry" by=", ">
								<f:link.action action="show" controller="Figure" arguments="{figure: entry.figure.uid, text: text}">{entry.figure.name}</f:link.action></dance:join>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
</f:section>
