<f:layout name="default" />
<f:section name="content">
	<h3><f:translate key="general.ballroomDancing">Ballroom Dancing</f:translate></h3>
	<ul class="tx-ballroomdancing-menu">
		<li><f:link.action action="index" controller="Dance">{f:translate(key:'dance.list')}</f:link.action></li>
		<li><f:link.action action="index" controller="Figure">{f:translate(key:'figure.list')}</f:link.action></li>
		<li><f:link.action action="index" controller="Recording">{f:translate(key:'recording.list')}</f:link.action></li>
	</ul>
</f:section>
